footer {
    color: var(--primary-color);
    background-color: var(--secondary-color);
    align-items: baseline;
    justify-content: center;
    margin-top: auto;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
}
